/* On masque des éléments sur le site LIVE */



.pricing-table .pmpro-price .lead {
	font-size: 24px!important;
}
.pricing-table .list-group, 
.field-visibility-settings-notoggle {
	display: none;
}

.panel-info .panel-body {
	display: none;
}

#pmpro_account #pmpro_account-invoices {
	display: none;
}

/*.pmpro-account #pmpro_account-links ul li:nth-child(2){ display:none;}*/

/* @group Message Blockquote */

#buddypress .callout-blockquote blockquote p,
#buddypress .big-blockquote p {
	font-size: 120%;
	font-weight: bold;
}

#buddypress .big-blockquote,
#profile-edit-form  .callout-blockquote,
#profile-edit-form blockquote,
#buddypress .big-blockquote blockquote {
	margin-top: 0;
	width: 100%;
}

/* @end */

/* @group En-tete BuddyPress */

#item-header-avatar.rounded {
	margin-bottom: 1em;
}

.my-profile #item-header-content .activity {
	display: none;
}

.my-profile #item-header-content .pmpro_label {
	display: none;	
}

.groups #item-header-avatar {
/*	display: none;*/
}

.buddypress div#item-header .toggle-header,
.buddypress #item-header .toggle-header {
	display: none;
}

/* On cache le petit appareil photo */
.profile-cover-action {
	display: none;
}

.buddypress div#item-header {
	padding-top: 0px;
	padding-bottom: 0px;
}

.buddypress.bp-header-small #item-header {
    background-position: 0 40px;
}

/* bp icon colors */

#buddypress #item-nav #object-nav a {
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
}

#buddypress #item-nav #object-nav a,
.main-color #buddypress ul.button-nav li a {
	color: #bbbbbb;
}

#buddypress #item-nav #object-nav .current a,
#buddypress div#item-nav #object-nav .current a:before,
.main-color #buddypress div.item-list-tabs li.selected a,
#main-container #buddypress div#subnav li.selected a,
.main-color #buddypress .item-list-tabs#subnav li.selected a {
	color: #c11119;
}

#buddypress #item-nav #object-nav a:hover,
#buddypress div#item-nav #object-nav .current:hover a:before
#main-container #buddypress div#subnav li a:hover {
	color: #777777;
}

#buddypress div#item-nav #object-nav a:before {
	font-size: 48px;
}

#buddypress div#item-nav #object-nav .dropdown-menu li a:before {
	font-size: 22px;
}


/* 48px */

/* @end */


/* @group Profile View */



.bbp-user-page #buddypress #item-header {
	display:none;
}

.profile-edit #buddypress #item-nav, 
.my-profile #buddypress #item-nav,
.bbp-user-page #item-nav  {
/*	display:none;*/
}

.profile-edit #item-header, 
.profile-edit .item-list-tabs, 
.my-profile #item-header,
.bbp-user-page #item-header  {
/*	display: none;*/
}



/* Correctifs pour la vue du profil */

#buddypress .profile .dl-horizontal dt {
	overflow: visible;
	white-space: normal;
}

#buddypress .profile .dl-horizontal {
	margin-top: 0px;
	margin-bottom: 0px;
}

#buddypress div.\000035-a-inscription-kabaret,
#buddypress div.\000035-b-kabaret-suite {
	/* probleme: une classe avec chiffres au début est non-valide 
	* Solution: http://stackoverflow.com/questions/21227702/is-there-a-workaround-to-make-css-classes-with-names-that-start-with-numbers-val
	
	*/
	display: none;
}

.bp-profile-loop .field_photo img {
	max-height: 250px;
	width: auto;
}

.bp-profile-loop .field_conditions-dutilisation-de-la-plateforme-reglement-kino-kabaret  {
	/* montré seulement pour les admin */
}

.bbp-user-page div.template-page {
	padding-top: 0px ;
}


.bp-user h1.page-title {
	width: 100%;
}

.kino-title-avatar img.kleo-rounded {
	float: left;
	height: 36px;
	width: 36px;
	margin: -1px 10px 0 0;
}

.bp-user h1.page-title .user-nicename {
	font-weight: 300;
	font-size: 60%;
	margin-left: 0.5em;
	vertical-align: middle;
}

.bp-user h1.page-title .generic-button {
	display: inline;
	margin-left: 0.5em;
/*	vertical-align: baseline;*/
}

.bp-user h1.page-title .generic-button .send-message,
.bp-user h1.page-title .generic-button .activity-button {
	background-color: #fff;
	color: #666;
	border-color: #E5E5E5;
	font-size: 40%;
	font-weight: 300;
}

/* @end */

/* @group Edit Profile */

/* Ajustements et espacements */

#buddypress div.profile,
.profile-edit #buddypress div.profile {
	margin-top: 10px;
}
.profile-edit .template-page {
	padding-top: 0px;
}

.profile-edit div#item-header,
.profile-edit div#item-header-content {
	display: none;
}

.change-avatar #buddypress .members-navigation,
.profile-edit #buddypress .members-navigation,
.my-profile #buddypress .members-navigation,
.single-kino-admin .kleo-quick-contact-wrapper,
.single-kino-admin .kleo-go-top,
body.buddypress .kleo-quick-contact-wrapper {
	display: none;
}

#buddypress #change-cover-image-personal-li {
	display: none;
}

/* @end */

/* @group Visibility Options */

#buddypress .current-visibility-level {
	font-weight: normal;
}


#buddypress .field-visibility-settings-toggle {
	font-style: normal;
}
.field-visibility-settings-toggle a {
	color: #888;
}
.visibility-icon {
	/*content: "\f177";*/
	margin-right: 3px;
	margin-left: 5px;
	vertical-align: sub;
	font-size: 120%;
	opacity: 0.8;
}

/* @end */

/* @group WP Rich Text Editor */

/* hide rich text editor on profile */

.profile-edit .editfield .wp-editor-tabs,
.profile-edit .editfield .quicktags-toolbar,
.profile-edit .editfield .mce-toolbar-grp {
	display: none;
}

.profile-edit .editfield .mce-container {
	border: 1px solid #dedede;
}

/* @end */

/* @group Formulaire Buddypress */

/* Menu: Afficher - Modifier - Photo du profil */

#buddypress .item-list-tabs li {
	font-weight: bold;
	font-size: 140%;
}

#buddypress div.item-list-tabs#subnav ul li a {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#buddypress #subnav  li a:hover {
	background: #e5e5e5;
}

#buddypress div.item-list-tabs#subnav {
	margin-top: 10px;
}

/* Menu: Groupes de Champs du profil */

#buddypress #profile-edit-form ul.button-nav {
	font-size: 120%;
	font-weight: bold;
}

#buddypress #profile-edit-form ul.button-nav a {
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 0px;
}

#buddypress #profile-edit-form ul.button-nav a:hover {
	background: #e5e5e5;
}

#buddypress #profile-edit-form ul.button-nav li.current a {
	font-weight: bold;
	background: #fff;
	border-bottom-width: 2px;
}


#buddypress #profile-edit-form ul.button-nav {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 4px solid #e5e5e5;
	border-bottom-style: double;
}


#buddypress #profile-edit-form .editfield {
	padding: 2px 10px;
	margin: 1px 0;
}

#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text] {
	/*background: transparent;*/
	padding-bottom: 2px;
	margin-bottom: 2px;
}

#buddypress .standard-form input[type=color] {
	padding: 1px 2px 0 2px;
	width: 44px;
	height: 44px;
}

#buddypress .standard-form label, 
#buddypress .standard-form span.label {
	margin-top: 2px;
}


#buddypress .field-visibility-settings, 
#buddypress .field-visibility-settings-toggle, 
#buddypress .field-visibility-settings-notoggle {
	padding-top: 0px;
	margin-top: 0.5em;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 85%;
}

#buddypress .field-visibility-settings {
	padding: 5px 10px 5px 10px;
	background: #EFEFEF;
}

#buddypress .standard-form p.description {
	font-size: 85%;
	line-height: 1.4;
}

.kino-edit-profile {
	margin-bottom: 15px;
}

#buddypress #profile-group-edit-submit {
	float: right;
}

#buddypress #profile-group-edit-submit {
	font-size: 120%;
	height: auto;
	border: 2px solid #888;
	color: #666;
/*	font-weight: 700;*/
}

#buddypress .standard-form div.checkbox label, 
#buddypress .standard-form div.radio label {
	color: #777;	/* same as any other fields! */
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.bp-screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* @end */

/* @group Members */

#buddypress div.item-list-tabs#subnav ul li#members-all a {
	padding-left: 0;
}

#buddypress div.item-list-tabs.bps_header {
	float: left;
	clear: none;
}

#buddypress div.item-list-tabs.bps_header>ul {
	display: block;
	float: left;
	clear: none;
	margin-right: 1em;
}

#buddypress div.item-list-tabs.bps_header>ul>li {
	display: block;
	float: left;
	clear: none;
}

#buddypress div.item-list-tabs.bps_header>ul>li>input[type=submit] {
/*	padding-left: 1em;*/
}

/*#buddypress div.item-list-tabs.bps_header>ul>li.last:before*/
#buddypress div.item-list-tabs.bps_header>ul>li>input[type=submit]:before,
#buddypress div.item-list-tabs.bps_header>ul>li.last>input:before {
	
	font-family: "fontello";
	  font-style: normal;
	  font-weight: normal;
	  speak: none;
	 
	  display: inline-block;
	  text-decoration: inherit;
	  width: 1em;
	  margin-right: .2em;
	  text-align: center;
	  /* opacity: .8; */
	 
	  /* For safety - reset parent styles, that can break glyph codes*/
	  font-variant: normal;
	  text-transform: none;
	 
	  /* fix buttons height, for twitter bootstrap */
	  line-height: 1em;
	 
	  /* Animation center compensation - margins should be symmetric */
	  /* remove if not needed */
	  margin-left: .2em;
	 
	  /* you can be more comfortable with increased icons size */
	  /* font-size: 120%; */
	 
	  /* Font smoothing. That was taken from TWBS */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	 
	  /* Uncomment for 3D effect */
	  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	
	content: '\e80c';	
}

#buddypress div.item-list-tabs.bps_header>ul>li>h4 {
	display: none;
}

#buddypress div.item-list-tabs ul li.last {
	float: left;
	clear: none;
}


.buddypress .kleo-online-status, 
.kleo-members-carousel .kleo-online-status {
	z-index: 0;	
}

/* @end */

/* @group Validation des champs */

#profile-edit-form .editfield.has-error,
#signup_form .signup-username-group.has-error {
	border: 1px solid #B94A48;
	background-color: rgb(242, 137, 135);
}

#signup_form .signup-username-group.has-error {
	padding: 10px;
}

#profile-edit-form .editfield.has-error,
#buddypress .standard-form .has-error p.description,
#profile-edit-form .has-error .form-error,
#signup_form .signup-username-group.has-error,
#signup_form .has-error .form-error {
		color: #fff;
}

#profile-edit-form .has-error .form-error,
#signup_form .has-error .form-error {
	font-weight: bold;
}

#profile-edit-form .field_type_checkbox .form-error,
#signup_form .field_type_checkbox .form-error {
	color: #c11119;
}

/* @end */

/* @group Frontpage Adjust */

body .alignleft.wp-image-1845 {
	margin-bottom: 20px;
}

/* @end */

/* @group Vues Admin */

.single-kino-admin .liste-occupants:after {
	content: ", ";
}
.single-kino-admin .liste-occupants:last-of-type:after {
	content: "";
}

.commalist:after,
.jour-dispo:after {
	content: ", ";
}
.commalist:last-child:after
.jour-dispo:last-child:after {
	content: "";
}

.kino-admin-view .btn {
	margin-left: 0;
}


.kp-pointlist:after {
	content: " \2219 "; /* bullet */
}
.kp-pointlist {
	padding-right: 0.2em;
}
.kp-pointlist:last-of-type:after {
	content: "";
}
.kp-pointlist:last-of-type {
	padding-right: 0;
}

.table .validation {
	width: 12em;
}

.admin-action {
	display: block;
	border: 1px solid #aaa;
	border-radius: 3px;
	float: left;
	clear: none;
	width: auto;
	text-align: center;
	padding: 0.2em 0.5em 0.3em 0.5em;
	margin: 0.3em;
	cursor: pointer;
}

a.admin-action,
a.admin-action:hover {
	color: #555;
}

.pending-accept {
    color:green;
    border-color: #00c42a;
    background: #d1ffe2;
}
.pending-reject {
    color:red;
    border-color: #fb3b1e;
    background: #fedbd1;
}

.pending-other {
	color: #999;
	border-color: #c4c300;
	background: #fefed1;
}


.pending-accept:hover {
	background-color: #66ff9e;
}

.pending-reject:hover {
	background-color: #feb59f;
}

.pending-other:hover {
	border-color: #a1a000;
	background-color: #f7f7a8;
}

.has-paid {
	float: left;
	padding: 0.2em 0.5em 0.3em 0.5em;
	margin: 0.3em;
}

/* @end */

/* @group BP Groups */

.groups .group-inner-list .item-meta {
	display: none;	
}

#buddypress ul.item-list li ul.group-tags {
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 0px;
	width: auto;
}

#buddypress ul.item-list li ul.group-tags li a:before {
	display: none;
}

#buddypress ul.item-list li ul.group-tags li {
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

#buddypress ul.item-list li ul.group-tags li a:before, 
#buddypress #item-header-content ul.group-tags li a:before, 
#buddypress .tag-infos a.show-allgroups:before {
	
}


.group-home #item-header #item-header-content .highlight,
.group-home #item-header-content .activity {
	display: none;
}

/* @end */

/* @group BP Docs */

#buddypress .doctable > tbody > tr > td {
	border-top: 1em solid transparent;
}

#buddypress .doctable td.title-cell {
/*	padding-right: 1em;*/
}

#buddypress ul#bp-docs-all-docs li {
	margin-right: 0.5em;
}

.requests #request-list .avatar {
	border-radius: 100%;
	margin-right: 1em;
}

/* @end */

/* @group BP Calendar */

#add-event-form .wp-editor-wrap {
	width: 75%;
}

#buddypress #add-event-form textarea {
	width: 100%;
}

#buddypress .bp-widget {
	padding: 5px 15px;
}

table.calendar caption,
table.calendar td.highlighted {
	background-color: #ff271c;
	color: #fff;
}

table.calendar caption {
	font-weight: bold;
}

table.calendar td.highlighted a {
	color: #fff;
}

table.calendar td.highlighted a:hover {
	color: #000;
}

table.calendar th {
	padding-left: 3px;
	padding-right: 3px;
}

.calendar-view table.calendar {
	margin-bottom: 10px;
}

/* @end */

.manage-members #buddypress .item-list .member-ban {
	display: none;
}

/* @group Search Widget */

.widget_search .input-group {
	background: #fff;
}

/* @end */

