/* @Rajout par AB, mise en page affichage profil */
			/* Cacher "je m'inscris en tant que" */
	.dl-horizontal.field_135 dt:first-of-type{	display: none;	} 

			/* Profession en plus grand */
	.dl-horizontal.field_135 {	
			font-size: 120%;
			font-weight: bold;	
			text-align: left;
			} 

			/* Cacher Kino Kabaret de Genève 2016*/
	.dl-horizontal.field_100{	display: none;	} 
			/* Cacher Rejoindre l'équipe*/
	.dl-horizontal.field_1313 {	display: none;	}
			/* Cacher Conditions d'utilisation*/
	.dl-horizontal.field_1070 {	display: none;	}
			/* Cacher Nom */
	.dl-horizontal.field_1 {	display: none;	}
			/* Cacher Sexe*/
	.dl-horizontal.field_3 {	display: none;	}
			/* Cacher Date de naissance*/
	.dl-horizontal.field_8 dt:first-of-type{	display: none;	}
			/* Cacher Code postal*/
	.dl-horizontal.field_10 {	display: none;	}
			/* Cacher Ville*/
	.dl-horizontal.field_11 dt:first-of-type{	display: none;	}
			/* Cacher Pays*/
	.dl-horizontal.field_12 dt:first-of-type{	display: none;	}	
			/* Cacher Telephone*/
	.dl-horizontal.field_14 dt:first-of-type{	display: none;	}	
			/* Cacher site web*/
	.dl-horizontal.field_15 dt:first-of-type{	display: none;	}	
			/* Cacher Presentez-vous*/
	.dl-horizontal.field_31 dt:first-of-type{	display: none;	}	
			/* Cacher Adresse rue*/
	.dl-horizontal.field_9 {	display: none;	}
			/* Cacher couleur préférée*/
	.dl-horizontal.field_1219 {	display: none;	}
			/* Cacher hébergement*/
	.dl-horizontal.field_1147 {	display: none;	}
			/* Cacher Tournage au domicile*/
	.dl-horizontal.field_1151 {	display: none;	}
			/* Cacher Kino Kabaret 2016*/
	.bp-widget.kino-kabaret-2016 {	display: none;	}
		
		/*Mise en page profil*/
	.bp-widget.identite {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-comedien {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-technicien {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-realisateur {float:left;
	width:44%;
	margin-left: 4%;
	}
/* @end */