.profile-edit #buddypress #item-nav, 
.my-profile #buddypress #item-nav {
	display:none;
}
.profile-edit #item-header, 
.profile-edit .item-list-tabs, 
.my-profile #item-header  {
	display: none;
}


.pricing-table .pmpro-price .lead {
	font-size: 24px!important;
}
.pricing-table .list-group, 
.field-visibility-settings-notoggle {
	display: none;
}

.panel-info .panel-body {
	display: none;
}

#pmpro_account #pmpro_account-invoices {
	display: none;
}

/*.pmpro-account #pmpro_account-links ul li:nth-child(2){ display:none;}*/

/* @group Message Blockquote */

#buddypress .callout-blockquote blockquote p,
#buddypress .big-blockquote p {
	font-size: 120%;
	font-weight: bold;
}

#buddypress .big-blockquote,
#profile-edit-form  .callout-blockquote,
#profile-edit-form blockquote,
#buddypress .big-blockquote blockquote {
	margin-top: 0;
	width: 100%;
}

/* @end */

/* @group En-tete BuddyPress */

#item-header-avatar.rounded {
	margin-bottom: 1em;
}

.my-profile #item-header-content .activity {
	display: none;
}

.my-profile #item-header-content .pmpro_label {
	display: none;	
}

.buddypress div#item-header .toggle-header,
.buddypress #item-header .toggle-header {
	display: none;
}

/* On cache le petit appareil photo */
.profile-cover-action {
	display: none;
}

.buddypress div#item-header {
	padding-top: 0px;
	padding-bottom: 0px;
}

.buddypress.bp-header-small #item-header {
    background-position: 0 40px;
}

/* @end */


/* @group Profile View */

/* Correctifs pour la vue du profil */

#buddypress .profile .dl-horizontal dt {
	overflow: visible;
	white-space: normal;
}

#buddypress .profile .dl-horizontal {
	margin-top: 0px;
	margin-bottom: 0px;
}

#buddypress div.\000035-a-inscription-kabaret,
#buddypress div.\000035-b-kabaret-suite {
	/* probleme: une classe avec chiffres au début est non-valide 
	* Solution: http://stackoverflow.com/questions/21227702/is-there-a-workaround-to-make-css-classes-with-names-that-start-with-numbers-val
	
	*/
	display: none;
}

/* @end */

/* @group Edit Profile */

/* Ajustements et espacements */

#buddypress div.profile,
.profile-edit #buddypress div.profile {
	margin-top: 10px;
}
.profile-edit .template-page {
	padding-top: 0px;
}

.profile-edit div#item-header,
.profile-edit div#item-header-content {
	display: none;
}

.change-avatar #buddypress .members-navigation,
.profile-edit #buddypress .members-navigation,
.my-profile #buddypress .members-navigation,
body.buddypress .kleo-quick-contact-wrapper {
	display: none;
}

#buddypress #change-cover-image-personal-li {
	display: none;
}

/* @end */

/* @group Visibility Options */

#buddypress .current-visibility-level {
	font-weight: normal;
}


#buddypress .field-visibility-settings-toggle {
	font-style: normal;
}
.field-visibility-settings-toggle a {
	color: #888;
}
.visibility-icon {
	/*content: "\f177";*/
	margin-right: 3px;
	margin-left: 5px;
	vertical-align: sub;
	font-size: 120%;
	opacity: 0.8;
}

/* @end */

/* @group WP Rich Text Editor */

/* hide rich text editor on profile */

.profile-edit .editfield .wp-editor-tabs,
.profile-edit .editfield .quicktags-toolbar,
.profile-edit .editfield .mce-toolbar-grp {
	display: none;
}

.profile-edit .editfield .mce-container {
	border: 1px solid #dedede;
}

/* @end */

/* @group Formulaire Buddypress */

/* Menu: Afficher - Modifier - Photo du profil */

#buddypress .item-list-tabs li {
	font-weight: bold;
	font-size: 140%;
}

#buddypress div.item-list-tabs#subnav ul li a {
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-right: 10px;
}

#buddypress #subnav  li a:hover {
	background: #e5e5e5;
}

#buddypress div.item-list-tabs#subnav {
	margin-top: 10px;
}

/* Menu: Groupes de Champs du profil */

#buddypress #profile-edit-form ul.button-nav {
	font-size: 120%;
	font-weight: bold;
}

#buddypress #profile-edit-form ul.button-nav a {
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 0px;
}

#buddypress #profile-edit-form ul.button-nav a:hover {
	background: #e5e5e5;
}

#buddypress #profile-edit-form ul.button-nav li.current a {
	font-weight: bold;
	background: #fff;
	border-bottom-width: 2px;
}


#buddypress #profile-edit-form ul.button-nav {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 4px solid #e5e5e5;
	border-bottom-style: double;
}


#buddypress #profile-edit-form .editfield {
	padding: 2px 10px;
	margin: 1px 0;
}

#buddypress .standard-form textarea,
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=text],
#buddypress .standard-form input[type=color],
#buddypress .standard-form input[type=date],
#buddypress .standard-form input[type=datetime],
#buddypress .standard-form input[type=datetime-local],
#buddypress .standard-form input[type=email],
#buddypress .standard-form input[type=month],
#buddypress .standard-form input[type=number],
#buddypress .standard-form input[type=range],
#buddypress .standard-form input[type=search],
#buddypress .standard-form input[type=tel],
#buddypress .standard-form input[type=time],
#buddypress .standard-form input[type=url],
#buddypress .standard-form input[type=week],
#buddypress .standard-form select,
#buddypress .standard-form input[type=password],
#buddypress .dir-search input[type=search],
#buddypress .dir-search input[type=text] {
	/*background: transparent;*/
	padding-bottom: 2px;
	margin-bottom: 2px;
}

#buddypress .standard-form input[type=color] {
	padding: 1px 2px 0 2px;
	width: 44px;
	height: 44px;
}

#buddypress .standard-form label, 
#buddypress .standard-form span.label {
	margin-top: 2px;
}


#buddypress .field-visibility-settings, 
#buddypress .field-visibility-settings-toggle, 
#buddypress .field-visibility-settings-notoggle {
	padding-top: 0px;
	margin-top: 0.5em;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 85%;
}

#buddypress .field-visibility-settings {
	padding: 5px 10px 5px 10px;
	background: #EFEFEF;
}

#buddypress .standard-form p.description {
	font-size: 85%;
	line-height: 1.4;
}

.kino-edit-profile {
	margin-bottom: 15px;
}

#buddypress #profile-group-edit-submit {
	float: right;
}

#buddypress #profile-group-edit-submit {
	font-size: 120%;
	height: auto;
	border: 2px solid #888;
	color: #666;
/*	font-weight: 700;*/
}

#buddypress .standard-form div.checkbox label, 
#buddypress .standard-form div.radio label {
	color: #777;	/* same as any other fields! */
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.bp-screen-reader-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* @end */

/* @group Validation des champs */

#profile-edit-form .editfield.has-error,
#signup_form .signup-username-group.has-error {
	border: 1px solid #B94A48;
	background-color: rgb(242, 137, 135);
}

#signup_form .signup-username-group.has-error {
	padding: 10px;
}

#profile-edit-form .editfield.has-error,
#buddypress .standard-form .has-error p.description,
#profile-edit-form .has-error .form-error,
#signup_form .signup-username-group.has-error,
#signup_form .has-error .form-error {
		color: #fff;
}

#profile-edit-form .has-error .form-error,
#signup_form .has-error .form-error {
	font-weight: bold;
}

#profile-edit-form .field_type_checkbox .form-error,
#signup_form .field_type_checkbox .form-error {
	color: #c11119;
}

/* @end */

/* @group Frontpage Adjust */

body .alignleft.wp-image-1845 {
	margin-bottom: 20px;
}

/* @end */

/* @Rajout par AB, mise en page affichage profil */
			/* Cacher "je m'inscris en tant que" */
	.dl-horizontal.field_135 dt:first-of-type{	display: none;	} 

			/* Profession en plus grand */
	.dl-horizontal.field_135 {	
			font-size: 120%;
			font-weight: bold;	
			text-align: left;
			} 

			/* Cacher Kino Kabaret de Genève 2016*/
	.dl-horizontal.field_100{	display: none;	} 
			/* Cacher Rejoindre l'équipe*/
	.dl-horizontal.field_1313 {	display: none;	}
			/* Cacher Conditions d'utilisation*/
	.dl-horizontal.field_1070 {	display: none;	}
			/* Cacher Nom */
	.dl-horizontal.field_1 {	display: none;	}
			/* Cacher Sexe*/
	.dl-horizontal.field_3 {	display: none;	}
			/* Cacher Date de naissance*/
	.dl-horizontal.field_8 dt:first-of-type{	display: none;	}
			/* Cacher Code postal*/
	.dl-horizontal.field_10 {	display: none;	}
			/* Cacher Ville*/
	.dl-horizontal.field_11 dt:first-of-type{	display: none;	}
			/* Cacher Pays*/
	.dl-horizontal.field_12 dt:first-of-type{	display: none;	}	
			/* Cacher Telephone*/
	.dl-horizontal.field_14 dt:first-of-type{	display: none;	}	
			/* Cacher site web*/
	.dl-horizontal.field_15 dt:first-of-type{	display: none;	}	
			/* Cacher Presentez-vous*/
	.dl-horizontal.field_31 dt:first-of-type{	display: none;	}	
			/* Cacher Adresse rue*/
	.dl-horizontal.field_9 {	display: none;	}
			/* Cacher couleur préférée*/
	.dl-horizontal.field_1219 {	display: none;	}
			/* Cacher hébergement*/
	.dl-horizontal.field_1147 {	display: none;	}
			/* Cacher Tournage au domicile*/
	.dl-horizontal.field_1151 {	display: none;	}
			/* Cacher Kino Kabaret 2016*/
	.bp-widget.kino-kabaret-2016 {	display: none;	}
		
		/*Mise en page profil*/
	.bp-widget.identite {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-comedien {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-technicien {float:left;
	width:44%;
	margin-left: 4%;
	}
	.bp-widget.competence-realisateur {float:left;
	width:44%;
	margin-left: 4%;
	}
/* @end */